## Import libraries

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import pylab
import math

from scipy import stats

import statsmodels.api as sm
from statsmodels.stats import diagnostic as diag
from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

## Loading Data

In [3]:
datasheet = pd.read_excel('kc_house_data.xlsx')
datasheet.fillna(0)

#seting colum
datasheet.index = datasheet['yr_built']
datasheet.drop('yr_built', axis = 1)

#removing the id
datasheet.drop('id', axis = 1)

#seting datatype

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
yr_built,,,,,,,,,,,,,,,,,,,,
1955,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1951,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
1933,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
1965,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1987,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
2014,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
2009,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
2004,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
2008,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [4]:
#chaning the date
list_date = list(datasheet.date)
year = []
day = []
month = []

contador = 0
while contador < len(list_date):
    list_date[contador] = list_date[contador].replace('T','')
    list_date[contador] = list_date[contador][0:8]
    
    year.append(list_date[contador][0:4])
    day.append(list_date[contador][6:8])
    month.append(list_date[contador][4:6])
    
    contador = contador + 1
    
# remover de 8 a 13
datasheet.date = list_date
datasheet['day'] = day
datasheet['month'] = month
datasheet['year'] = year

In [5]:
#droping the date
cleaned_datasheet = datasheet.drop('date', axis = 1)

In [6]:
cleaned_datasheet

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,day,month,year
yr_built,,,,,,,,,,,,,,,,,,,,,
1955,7129300520,221900,3,1.00,1180,5650,1.0,0,0,3,...,1955,0,98178,47.5112,-122.257,1340,5650,13,10,2014
1951,6414100192,538000,3,2.25,2570,7242,2.0,0,0,3,...,1951,1991,98125,47.7210,-122.319,1690,7639,09,12,2014
1933,5631500400,180000,2,1.00,770,10000,1.0,0,0,3,...,1933,0,98028,47.7379,-122.233,2720,8062,25,02,2015
1965,2487200875,604000,4,3.00,1960,5000,1.0,0,0,5,...,1965,0,98136,47.5208,-122.393,1360,5000,09,12,2014
1987,1954400510,510000,3,2.00,1680,8080,1.0,0,0,3,...,1987,0,98074,47.6168,-122.045,1800,7503,18,02,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009,263000018,360000,3,2.50,1530,1131,3.0,0,0,3,...,2009,0,98103,47.6993,-122.346,1530,1509,21,05,2014
2014,6600060120,400000,4,2.50,2310,5813,2.0,0,0,3,...,2014,0,98146,47.5107,-122.362,1830,7200,23,02,2015
2009,1523300141,402101,2,0.75,1020,1350,2.0,0,0,3,...,2009,0,98144,47.5944,-122.299,1020,2007,23,06,2014
2004,291310100,400000,3,2.50,1600,2388,2.0,0,0,3,...,2004,0,98027,47.5345,-122.069,1410,1287,16,01,2015
2008,1523300157,325000,2,0.75,1020,1076,2.0,0,0,3,...,2008,0,98144,47.5941,-122.299,1020,1357,15,10,2014

In [28]:
yr_built = cleaned_datasheet.yr_built
bedrooms = cleaned_datasheet.bedrooms
bathrooms = cleaned_datasheet.bathrooms
sq_living = cleaned_datasheet.sqft_living
floors = cleaned_datasheet.floors
condition = cleaned_datasheet.condition
yr_renovation = cleaned_datasheet.yr_renovated

In [34]:
#x = [yr_built, bedrooms, bathrooms, floors, condition, yr_renovation]
x = yr_built
y = cleaned_datasheet.price

In [40]:
xc = sm.add_constant(x)
model = sm.OLS(y, xc)
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     63.23
Date:                Tue, 09 Jun 2020   Prob (F-statistic):           1.93e-15
Time:                        16:40:11   Log-Likelihood:            -3.0757e+05
No. Observations:               21613   AIC:                         6.151e+05
Df Residuals:                   21611   BIC:                         6.152e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -7.905e+05   1.67e+05     -4.723      0.000   -1.12e+06   -4.62e+05
yr_built     675.0698     84.897      7.952      0.000     508.666     841.473
==============================================================================
Omnibus:                    19154.673   Durbin-Watson:                   1.972
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1146195.931
Skew:                           4.032   Prob(JB):                         0.00
Kurtosis:                      37.753   Cond. No.                     1.32e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.32e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""